<launch> 
	<param name="use_sim_time" value="true" />

	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    
	<node pkg="grp-poire"
                type="ricochet_real.py" name="Move_Node"
                output="screen"
        />

        
    <group if="$(arg rviz)">
  <!-- stuff that will only be evaluated if rviz is true -->
  		<node pkg="rviz" type="rviz" name="rviz"
		args="-d $(find grp-poire)/src/rviz/config_real.rviz"/>
	</group>
	<param name="rviz" value="false" unless="$(arg rviz)" />  <!-- This param won't be set when "unless" condition is met -->
</launch>

  
 


  
 
