<launch>

    <include file="$(find tbot_bringup)/launch/start.launch" />

    <!-- Move base -->
    <include file="$(find grp-poire)/launch/move_base.launch.xml" >
        <arg name="cmd_topic" value="/mobile_base/commands/velocity" />
    </include>
    
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=/scan" output="screen" />

    <node pkg="grp-poire" type="bottle_detection.py" name="bottle_detector"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find grp-poire)/rviz/config_move_base_IRL.rviz" />

    <node pkg="grp-poire" type="nuka_cola_bottle_detection.py" name="marker_publisher" output="screen" />

</launch>